/* ListSerie.css */

.card {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-img-top {
  object-fit: cover;
  height: 350px; /* Define uma altura fixa para a imagem */
  width: 100%;
}

.card-body {
  overflow-y: auto; /* Adiciona rolagem vertical quando o conteúdo excede a altura do card */
  max-height: 300px; /* Define a altura máxima do corpo do card */
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  text-align: center; /* Centraliza o texto */
}

.card-title {
  font-size: 1.5rem; /* Aumenta o tamanho da fonte do título */
  font-weight: bold; /* Torna o título em negrito */
  color: #C071B9; /* Adiciona cor ao título para destaque */
  margin-bottom: 15px; /* Adiciona espaço abaixo do título */
}

.card-text {
  margin-bottom: 10px;
}

.text-muted {
  font-size: 0.875rem;
}

.card-body::-webkit-scrollbar {
  width: 8px;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.card-body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
